.queue-card {
  grid-row: 5;
  margin-bottom: 20px;
}

.record {
  display: grid;
  grid-template-columns: auto 100px 200px 100px;
  line-height: 40px;
  background-color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.record:hover {
  background-color: #cacaca1e;
}

.record.expanded {
  background-color: #e4e4e49f;
}

.rhead {
  font-size: 24px;
  line-height: 60px;
  background-color: #f6f6f6;
  cursor: default;
}

.rhead:hover {
  font-size: 24px;
  line-height: 60px;
  background-color: #f6f6f6;
}

.full-feedback {
  background-color: #02bdd636;
}

.feedback-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 40px;
  background-color: white;
}

.feedback-list div {
  text-align: center;
  cursor: pointer;
}

.feedback-summary {
  background-color: rgb(240, 240, 240);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 2em;
  font-size: 1.3em;
}

.compilation-info {
  display: flex;
  flex-direction: row;
}

.ok-count {
  display: flex;
  flex-direction: row;
}


.test-info {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  font-size: 22px;
  transition: all ease-in-out 0.2s;
  box-sizing: border-box;
  background-color: white;
}

.test-info:hover {
  background-color: var(--background-color-test-info-hover);
}

.test-status {
  font-size: 22px;
}