:root {
  /* --header-color: #282832; */
  --header-color: white;
  --header-font-color: black;
  --background-color: white;
}

.modal-blur {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  backdrop-filter: blur(3px);
  background-color: rgba(119, 0, 255, .9);
  z-index: 10;
}

.modal-core {
  width: 800px;
  top: 50%;
  left: 50%;
  position: fixed;
  display: grid;
  grid-template-rows: 70px min-content;
  box-shadow: 0px 3px 100px rgba(62, 0, 133, 0.603);
  transform: translate(-50%, -50%);
  z-index: 10;
}

.modal-header {
  background-color: var(--header-color);
  color: var(--header-font-color);
  padding-left: 20px;
  padding-right: 20px;
  line-height: 70px;
  font-size: 24px;
  z-index: 2;
}

.modal-content {
  padding: 20px 20px;
  line-height: 40px;
  background-color: var(--background-color);
  overflow: hidden;
  transition: all ease-in 0.5s;
  z-index: 1;
}

.modal-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-close {
  color: rgba(240, 240, 240, 0.7);
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: -40px;
  transform: rotate(45deg);
  width: 28px;
  height: 28px;
}

.modal-close:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 28px;
  background-color: var(--background-color);
  top: 0px;
  left: 13px;
}

.modal-close:before {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: var(--background-color);
  top: 13px;
  left: 0px;
}
